{% extends "layout.html" %}

{% block title %}``
    Baldurs Gate 3
{% endblock %}

{% block main %}
<main class="container p-5">
    <body>
      <div class="wrapper-main">
        <h1><span id="name">ClarenceGamingDEN</span></h1><br><br>
        <img class="img_cj" src="/static/baldurGate (3).jpg" alt="..."><br><br><br>

        <h4 class="about">Baldur's Gate 3 review</h4>
        <p span id="name2">Baldur's Gate 3 stands as an exemplary RPG, a strong contender for Game of the Year 2023. Its captivating narrative intertwines with an expansive campaign, granting players immense agency and introducing impeccably crafted characters, making it a standout in the realm of video games. Offering countless hours of engaging content, this game effortlessly draws players in and keeps them engrossed. It's a must-play for anyone with even a passing interest in the genre.</p></br>

        <h1>10 out of 10!</h1></br>
        <ul style="list-style-type:none">
          <li class="nav-item"><a class="nav-link" href="/favorite">My game of the year</a></li>
          <li class="nav-item"><a class="nav-link" href="/comment">Click here for Comments</a></li>
      </ul>
    </div></br>
        <div>
          <h4>Click here to see the other reviews:</h4>
          <ul style="list-style-type:none">
            <li class="nav-item"><a class="nav-link" href="/alanwake2">Alan Wake 2</a></li>
            <li class="nav-item"><a class="nav-link" href="/baldursgate3">Baldur's Gate 3</a></li>
            <li class="nav-item"><a class="nav-link" href="/cyberpunk2077PL">Cyberpunk 2077: Phantom Liberty</a></li>
            
        </ul>
        </div>
      </div>
    </body>
  </main>


  

 
{% endblock %}