{% extends "layout.html" %}

{% block title %}
    Forspoken
{% endblock %}

{% block main %}
<main class="container p-5">
    <body>
      <div class="wrapper-main">
        <h1><span id="name">ClarenceGamingDEN</span></h1><br><br>
        <img class="img_f" src="/static/forspoken.webp" alt="..."><br><br><br>
        <h4 class="about">Forspoken review</h4>
        <p span id="name2">Forspoken was my most anticipated game of 2023. However, Forspoken was a big let down after I played through the story. I give it a 4/10 score.</p>
        <ul style="list-style-type:none">
          <li class="nav-item"><a class="nav-link" href="/favorite">Take Quiz</a></li>
          <li class="nav-item"><a class="nav-link" href="/comment">Click here for Comments</a></li>
      </ul></div></br>
        <div>
          <h4>Click here to see the other reviews or take the quiz:</h4>
          <ul style="list-style-type:none">
            <li class="nav-item"><a class="nav-link" href="/sw">Star Wars: Jedi Surviver</a></li>
            <li class="nav-item"><a class="nav-link" href="/forspoken">Forspoken</a></li>
            <li class="nav-item"><a class="nav-link" href="/hogwart">Hogwart</a></li>
            
        </ul>
        </div>
      </div>
    </body>
  </main>
{% endblock %}