{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
        <main class="container p-5">
          <head>
            <div>
              
            </div>
          </head>
          <body>
            <div class="wrapper-main">
              <h1><span id="name">Welcome to ClarenceGamingDEN</span></h1>
              <br>
              <div>
              <h3><span id="name2">Thank you for visiting my gaming review site. Here, you'll find reviews of three games that I've assessed for my Game of the Year selection. After reading these reviews, you can vote for the PC game you believe should be Game of the Year. Additionally, once you've read the reviews, you'll be prompted to guess which PC game I've chosen as my Game of the Year.</span></h3>
            </div><br><br>
            <img class="img_cj" src="/static/pcgames2023 (1).jpg" alt="..."><br><br>

          
                      
              <h3 class="about">Game of the Year nominees</h3>

                  <ul style="list-style-type:none">
                    <li class="nav-item"><a class="nav-link" href="/alanwake2">Alan Wake 2</a></li>
                    <li class="nav-item"><a class="nav-link" href="/baldursgate3">Baldur's Gate 3</a></li>
                    <li class="nav-item"><a class="nav-link" href="/cyberpunk2077PL">Cyberpunk 2077: Phantom Liberty</a></li>
                  

                </ul></div></br>
                <h3 class="about">Vote for your game of the year:</h3>
                <ul style="list-style-type:none">
                 {% for key, value in polls.iterrows() %}
                 
                 <li class="nav-item"><a class="nav-link" href="{{ url_for("polls", pid=key) }}">{{ value['poll']}}</a>
                 </li>
                 {% endfor%}
                </ul>
  
               

                <ul style="list-style-type:none">
                  <li class="nav-item"><a class="nav-link" href="/favorite">My game of the year</a></li>
                  <li class="nav-item"><a class="nav-link" href="/comment">Click here for Comments</a></li>
              </ul></div></br>
              

                  <h4 class="about">Here are my PC specifications</h4>
                  <table cellpadding="10">
                    <tr>
                        <th>Graphics Card</th>
                        <th>CPU</th>
                        <th>Motherboard</th>
                        <th>Other PC Accessories</th>
                     </tr>
                     <tr>
                        <td>ASUS TUF GeForce RTX 4090 OC Edition</td>
                        <td>Intel Core i9-13900k</td>
                        <td>ASUS Prime Z790-P WIFI LGA 1700</td>
                        <td>Corsair ICUE H150i Elite Capellix Liquid CPU Cooler</td>
                     </tr>
                     <tr>
                      <td>...</td>
                      <td>...</td>
                      <td>...</td>
                      <td>Corsair HX Series, HX1200, 1200 watt power supply</td>
                   </tr>
                   <tr>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>Corsair iCUE 7000X RGB Full-Tower</td>
                 </tr>
                 <tr>
                  <td>...</td>
                  <td>...</td>
                  <td>...</td>
                  <td>Corsair Vengeance DDR 32GB 6000</td>
               </tr>
                  </table>

                </div>
              </body>
            </main>


{% endblock %}