{% extends "layout.html" %}

{% block title %}
    Star Wars: Jedi Surviver
{% endblock %}

{% block main %}
<html lang="en">




      <main class="container p-5">
         <body>
           <div class="wrapper-main">
            <h1><span id="name">ClarenceGamingDEN</span></h1><br><br>
             <img class="img_sw" src="/static/sw.jpg" alt="..."><br><br><br>
              <h4 class="about">Star Wars: Surviver review</h4>
               <p span id="name2">Star Wars: Surviver is an amazing game and the story is great. However, the performance is horrible. I give this game a 7/10 score. </p>

                <ul style="list-style-type:none">
                  <li class="nav-item"><a class="nav-link" href="/favorite">Take Quiz</a></li>
                  <li class="nav-item"><a class="nav-link" href="/comment">Click here for Comments</a></li>
              </ul></div></br>

                <div>
                 <h4>Click here to see the other reviews or take the quiz:</h4>
                 <ul style="list-style-type:none">
                  <li class="nav-item"><a class="nav-link" href="/sw">Star Wars: Jedi Surviver</a></li>
                  <li class="nav-item"><a class="nav-link" href="/forspoken">Forspoken</a></li>
                  <li class="nav-item"><a class="nav-link" href="/hogwart">Hogwart</a></li>
                  
              </ul>
                         </div>
                        </div>
                       </body>
                      </main>

                    </body>
</html>
{% endblock %}