/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

.img_cj {
    width: 800px;
    height: 500px;
    box-shadow: 10px 5px 5px;
}

.img_cj2 {
    width: 800px;
    height: 500px;
    
}

.img_sw {
    width: 700px;
    height: 500px;
}

.img_h {
    width: 400px;
    height: 500px;
}

.img_f {
    height: 500px;
    width: 400px;
}

.img_pc {
    width: 400px;
    height: 300px;
}

.wrapper-main {
    width: 1000px;
    margin: 0 auto;
}

body {
    background-color: silver;
}

#name {
    font-family: arial;
    font-size: 50px;
    text-emphasis: underline;
    color: navy;

}

#name2 {
    font-family: arial;
    font-size: 20px;
    text-emphasis: underline;
    color: darkBlue;

}

.about {
    font-family: arial;
    font-size: 25px;
    color: #660066;
}

.nav-item2 {
    color:#660066
}

li:hover {
    font-family: arial;
    color: red;
}

.list-group-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: silver;


}

.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    padding: 10px;
    border: 1px solid #ccc;
  }

.btn-outline-secondary {
    background-color: blue;
    color: black;
}

.c-item {
    height: 700px;
    filter: brightness(0.9);
}

.c-img {
    height: 100%;
    object-fit: cover;
}

.section {
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-self: center;
    align-items: center;
}

.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slide{
    width: 500%;
    height: 500px;
    display: flex;
}

.slide input{
    display: none;


}

.st{
    width: 20%;
    transition: 2s;

}

.st img{
    width: 800px;
    height: 500px;
}

.nav-m{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    

}

.m-btn{
    border: 2px solid #23e3c2;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.m-btn:not(:last-child){
    margin-right: 30px;
}

.m-btn:hover{
    background-color: #23e3c2;
}

#radio1:checked ~.first{
    margin-left: 0;
}

#radio2:checked ~.first{
    margin-left: -20%;
}

#radio3:checked ~.first{
    margin-left: -40%;
}

#radio4:checked ~.first{
    margin-left: -60%;
}

.nav-auto{
    position: absolute;
    width: 800px;
    margin-top: 460px;
    display: flex;
    justify-content: center;

}

.nav-auto div{
    border: 2px solid #23e3c2;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.nav-auto div:not(:last-child){
    margin-right: 30px;
    justify-content: center;
}

#radio1:checked ~ .nav-auto .a-b1{
    background-color: #23e3c2;
}

#radio2:checked ~ .nav-auto .a-b2{
    background-color: #23e3c2;
}

#radio3:checked ~ .nav-auto .a-b3{
    background-color: #23e3c2;
}

#radio4:checked ~ .nav-auto .a-b4{
    background-color: #23e3c2;
}