{% extends "layout.html" %}

{% block title %}
    Alan Wake 2
{% endblock %}

{% block main %}
<html lang="en">




      <main class="container p-5">
         <body>
           <div class="wrapper-main">
            <h1><span id="name">ClarenceGamingDEN</span></h1><br><br>
             <img class="img_cj" src="/static/alanwake2 (2).jpg" alt="..."><br><br><br>
              <h4 class="about">Alan Wake 2 review</h4>
               <p span id="name2">Alan Wake II delves deeper into darkness compared to its predecessor, achieving perfection within the horror genre. Remedy Entertainment, in its latest release, finely hones a formula that's evolved over two decades. It embraces psychological horror fearlessly, not shying away from its audience, while authentically portraying the inherent gore. The game stands as a marvel, boasting top-notch graphics and an exceptional soundtrack.</p>
           </br>
           <h1>10 out of 10!</h1></br>
                <ul style="list-style-type:none">
                  <li class="nav-item"><a class="nav-link" href="/favorite">My game of the year</a></li>
                  <li class="nav-item"><a class="nav-link" href="/comment">Click here for Comments</a></li>
              </ul></div></br>

                <div>
                 <h4>Click here to see the other reviews:</h4>
                 <ul style="list-style-type:none">
                  <li class="nav-item"><a class="nav-link" href="/alanwake2">Alan Wake 2</a></li>
                  <li class="nav-item"><a class="nav-link" href="/baldursgate3">Baldur's Gate 3</a></li>
                  <li class="nav-item"><a class="nav-link" href="/cyberpunk2077PL">Cyberpunk 2077: Phantom Liberty</a></li>
                  
              </ul>
                         </div>
                        </div>
                       </body>
                      </main>

                    </body>
</html>
{% endblock %}